custom/plugins/zsh-completions
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.cab
*.msi
*.msm
*.msp

# linux
*~
.Trash-*

# OSX
.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns


# sass
.sass-cache
*.css.map

# python
__pycache__/
*.py[cod]
*$py.class

