snippet msyh "font-family msyh" b 
font-family: 微软雅黑;
endsnippet

snippet nav "ks-switchable-nav" w
.ks-switchable-nav$0
endsnippet

snippet content "ks-switchable-content" w
.ks-switchable-content$0
endsnippet

snippet ksa "ks-active" w
.ks-active $0
endsnippet
